@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-family: 'Montserrat Medium';
  src: url('/assets/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Montserrat Medium', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat Medium', sans-serif;
}
